/* .row {
	border: 1px solid red;
}

[class^="col"] {
	border: 1px solid blue;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}




/* login ######################################## */
.login-row {
  margin: 2rem 0;
}

.inputError, .inputError:focus {
  border: 1px solid rgb(238, 78, 78);
  box-shadow: 0 0 0 0.2rem rgba(238, 78, 78, 0.45);
  background: rgba(238, 78, 78, 0.2);
}

#form-login {
  /* margin-bottom: 1rem; */
}

#form-login:focus {
  /* box-shadow: 0 0 0 0.2rem rgba(238, 78, 78, 0.25); */
}

.login-quote-col {
  /* margin: 1.5rem 0; */
}



/* chat ######################################## */
.chat-display-container-col {
  margin: 0.5rem 0;

  /* background: rgb(172, 219, 248); */

  /* box-shadow: inset 0px 0px 39px 0px rgba(255, 255, 255, 0.82); */
  /* box-shadow: 0px 0px 39px 0px rgba(255, 255, 255, 1); */
}

.chat-row {
  display: none;
}

.chat-display {
  padding: 1rem;
  height: 400px;
  overflow-y: scroll;
  
}

.users-display {
  height: 400px;
}

.chat-shadow {
  z-index: 10;
  width: 100%;
}

.chat-shadow-top {
  box-shadow: 0px 10px 20px 20px #fff, inset  0px 0px 20px 20px #fff;
}

.chat-shadow-bottom {
  box-shadow: 0px -10px 20px 20px #fff, inset  0px 0px 20px 20px #fff;
}

.card {
  margin: 0.5rem;
  /* width: 85%; */

  /* background: rgb(255, 165, 165); */
  /* rgb(255, 220, 138) */

  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.82);  
}

.user {
  background: rgb(255, 165, 165); /* red */
}

.yellow {
  background: rgb(255, 220, 138);
}

.blue {
  background: #577590;
}

.orange {
  background: #F08A4B;
}

.brown {
  background: #754F44;
}

.green {
  background: #C9F2C7;
  /* background: #ACECA1; */
  /* background: #96BE8C; */
  /* background: #629460; */
  /* background: #243119; */
}

.lightRed {
  background: #EC7357;
}

.card-title {
  margin: 0;
}

.card-body {
  /* width: 18rem; */
  padding: 0.1rem 0.5rem;
}

.input-row * {
  z-index: 20;
}


/* general ######################################## */
.hide {
  display: none;
}

.show {
  display: block;
}



/* 
// #################################
// ##### Scrollbar css styling #####
// ##### --------------------- #####
*/
#recipePanel {
  /* display: flex; */
}

#chatDisplay, #userDisplay {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  /* padding-top: -2px !important */
  /* padding-right: 5px !important */
}

#chatDisplay::-webkit-scrollbar {
  width: 0.5em;
  /* height: 2em; */
}

#chatDisplay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#chatDisplay::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.3 solid slategrey;
}

/* // ################################# */