.row {
	border: 1px solid red;
}

[class^="col"] {
	border: 1px solid blue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}




/* login ######################################## */
.login-row {
  /* display:  */
}




/* chat ######################################## */
.chat-row {
  display: none;
}

.chat-display {
  height: 400px;
  overflow-y: scroll;
}

.users-display {
  height: 400px;
}

.card-title {
  margin: 0;
}

.card-body {
  /* width: 18rem; */
  padding: 0.5rem;
}



/* general ######################################## */
.hide {
  display: none;
}

.show {
  display: block;
}
